#f-name, #l-name {
    display: inline-block;
    padding:10px 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#email {
    display: block;
    margin: 10px 0;
    width: 360px;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.sign-up {
    display: block;
    width: 360px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: rgb(42, 124, 231);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.sign-up:hover {
    background: rgb(27, 93, 180);
}

.sign-up:active {
    opacity: 0.6;
}